/* Cart */
#cart-items{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cart-item{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.cart-item img{
    aspect-ratio: 1 / 1;
    width: 35%;
    object-fit: cover;
    margin-bottom: 10px;
}
.item-info{
    display: flex;
    flex-direction: row;
    width: 65%;
}
.cartItemInfo{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 20px;
}
.cartItemInfo .product-name, .cartItemInfo .price {
    font-size: 16px;
    text-align: start;
}
.cartItemInfo .description{
    font-size: 13px;
    text-align: start;
}

/* X button to remove product from cart */
.dropCartItem{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 10%;
    margin-bottom: 10px;
}
.dropCartItemBtn{
    background-color: white;
    border: 1px solid red;
    align-self: center;
    color: black;
    height: 30px;
    width: 30px;
    border-radius: 5px;
}
.dropCartItemBtn:hover{
    background-color: red;
    color: white;
}

/* Order Button */
.orderBtn{
    text-align:center;
    width: 120px;
    height: 40px;
    margin: 0 20px;
    padding-top: 5px;
    border: none;
    background-color: rgb(210, 0, 0);
    transition: transform 0.3s ease;
}
.offcanvas-header a {
    text-decoration: none;
    color: white;
}
.orderBtn:hover{
    transform: scale(1.02)
}