/* Common styles */
.product-name,
.price {
    font-size: 20px;
    margin-bottom: 0;
    text-align: center;
}

.product-name {
    color: rgb(90, 90, 90);
}

.price {
    color: black;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    color: gray;
    margin-bottom: 0;
    text-align: center;
}

/* Hover effects */
.product-item:hover .product-name,
.product-item:hover .price {
    color: red;
}

/* Banner styles */
.banner img {
    object-fit: cover;
}

@media screen and (min-width: 1024px) {
    .banner, .carousel-item {
        width: 100%;
        height: 82vh;
    }
}

@media screen and (max-width: 1024px) {
    .banner, .carousel-item {
        width: 100%;
        height: auto;
    }
}

/* Top-Seller Section */
.top-seller {
    width: 100%;
    height: fit-content;
    margin-top: 5%;
}

.top-seller-products {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product-item {
    margin-top: 2%;
    width: 25%;
}

.product-item img {
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    transition: opacity 0.3s ease;
}

.product-item a {
    text-decoration: none;
}

/* Poster */
.poster-main {
    display: flex;
    justify-content: space-around;
}

.poster-main-left, .poster-main-right-div {
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
    transition: all 0.3s ease;
}

.poster-main-left img,
.poster-main-right-div img {
    width: 100%;
    border-radius: 10px;
}

.card-body {
    margin: 2% 2% 2% 0;
}

.poster-main-right {
    display: flex;
    position: relative;
}

.poster-main-right-div a {
    width: 100%;
}

.poster-main-right-div:hover,
.poster-main-left:hover {
    transform: scale(1.02);
}

@media screen and (min-width: 768px) {
    .poster-main {
        flex-direction: row;
        margin-top: 10%;
        margin-left: 15%;
        width: 70%;
    }
    
    .poster-main-left {
        width: 62%;
    }
    
    .poster-main-right {
        width: 30%;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .poster-main {
        flex-direction: column;
        margin-top: 5%;
        margin-left: 10%;
        width: 90%;
    }
    
    .poster-main-right {
        width: 90%;
        flex-direction: column;
    }
    
    .poster-main-left {
        width: 90%;
        margin-bottom: 5%;
    }
}

/* Favorite Section */
.favorite {
    width: 100%;
    height: fit-content;
    margin-top: 5%;
}

.favorite-products {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.fade-out {
    opacity: 0;
}

/* Sample Product */
.sample {
    width: 100%;
    height: fit-content;
    padding: 0;
    margin-top: 5%;
}

.sample-product {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.sample-content {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .sample-product {
        flex-direction: row;
    }
    
    .sample-product img {
        width: 40%;
    }
    
    .sample-content {
        width: 40%;
        margin: 0 6%;
    }
}

@media screen and (max-width: 768px) {
    .sample-product {
        flex-direction: column;
    }
    
    .sample-product img,
    .sample-content {
        width: 80%;
        margin-left: 10%;
    }
}

.sample-product img {
    transition: transform 0.3s ease;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 5%;
}

.sample-product img:hover {
    transform: scale(1.02);
}

.sample-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.sample-content i {
    width: 180px;
    border: none;
    height: 5px;
    background-color: rgb(210, 0, 0);
    margin-bottom: 30px;
}

/* On Sale */
.onSale {
    width: 100%;
    height: fit-content;
    padding: 0;
    margin-top: 5%;
}

.onSale-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Feature */
.feature {
    width: 100%;
    height: fit-content;
    padding: 0;
    margin-top: 5%;
}

.feature-products {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* Keyframes */
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Responsive font sizes */
@media screen and (max-width: 768px) {
    .product-name {
        font-size: 12px;
    }
    
    .description {
        font-size: 10px;
    }
    
    .price {
        font-size: 12px;
    }
}
