#title{
    text-align: center;
    margin: 30px;
}
#order {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin-left: 10%;
}
.labels {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.labels *{
    display: flexbox;
}
.labels h5 {
    width: 150px;
    margin-right: 20%;
}
.labels p {
    width: 9%;
    text-align: center; 
}
#products {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.product-item {
    display: flex;
    width: 100%;
    height: 150px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.productItem-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.product-item img {
    flex: 0 0 150px; 
    height: 150px;
    object-fit: cover;
}

.productInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.productInfo p {
    display: flexbox;
    width: 12%;
    text-align: center; 
    margin: 0; 
}

.productInfo p:first-child {
    font-weight: bold;
    width: 28%; 
    gap: 20px;
}
.total {
    color: red;
}

.summary {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.customer_info {
    display: flex;
    flex-direction: row;
    gap: 20%;
}
.order_total {
    display: flex;
}
.summary h6 {
    margin-left: 61%;
    width: 15%;
    font-weight: bold;
}
.order_total p {
    width: 8%;
}
#sumPrice {
    color: red;
    font-weight: bolder;
}
#placeOrder {
    display: flex;
    justify-content: end;
}
#placeOrderBtn{
    text-align:center;
    width: 180px;
    height: 45px;
    margin: 20px;
    border: none;
    background-color: rgb(210, 0, 0);
    transition: transform 0.3s ease;
    margin-right: 10%;
}
#placeOrderBtn{
    text-decoration: none;
    color: white;
}
#placeOrderBtn:hover{
    transform: scale(1.02)
}