body{
    scroll-behavior: smooth;
}
.product-name{
    font-size: 25px;
    margin-bottom: 5px;
}
.price{
    font-size: 20px;
    margin-bottom: 0;
    color: #ff0000;
}
.description{
    margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
    .product-name{
        font-size: 12px;
    }
    .description{
        font-size: 10px;
    }
    .price{
        font-size: 12px;
    }
}
.similar-item:hover{
    .product-name, .price{
        color: red;
    }
}
.fade-out {
    opacity: 0;
}


/* main */
.main{
    width: 100%;
    height: fit-content;
    margin-top: 3%;
}
.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.pics{
    width: 50%;
    height: 100%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
}
.pics img {
    width: 40%;
    object-fit: cover;
    margin: 10px;
}
.products-info{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.products-info .form-group {
    margin-bottom: 15px;
}

.products-info label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.products-info select, .products-info input[type="text"]  {
    width: 20%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-control .quantity-btn {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
}

.products-info input[type="text"] {
    text-align: center;
    width: 50px;
    border: none;
}

#addToCart:not(.quantity-btn), #buyNow {
    width: 50%;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid red;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: transform 0.2s ease;
}
#buyNow{
    background-color: red;
    color: white;
}
#buyNow:hover{
    transform: scale(1.02);
}

#shoe-form button:hover, .review button:hover{
    background-color: #ff0000;
    color: white;
    transform: scale(1.02);
}

.description{
    text-align: justify;
}
.product-detail .card-body{
    margin-right: 20%;
}

/* Reviews */
.review{
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
}
.review-container{
    width: 80%;
    margin-left: 10%;
}
.review button{
    width: 200px;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid red;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}
.review .card-body{
    border: 1px solid red;
}
.review-item{
    margin: 20px 0;
}
.review-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.review-info span {
    color: gray;
    cursor: pointer;
}
.review-info span:hover {
    color: red;
}
.user-icon{
    width: 30px;
    height: 30px;
}
.star{
    color: rgb(255, 255, 0);
    font-size: 20px;
}
/* Similar products */
.similar{
    width: 100%;
}
.similar-container{
    width: 99%;
    margin-left: 1%;
}
.similar-products, .similar-products-top{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.similar-item{
    width: 25%;
    margin-bottom: 20px;
    transition: opacity 0.2s ease;
    .product-name{
        text-align: center;
    }
    .description{
        text-align: center;
    }
    .price{
        text-align: center;
    }
}
.similar-item img{
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    transition: opacity 0.2s ease;
}
.carousel-item-innerContainer{
    display: flex;
    flex-direction: row;
}