

.main{
    width: 90%;
    height: 100%;
    margin-top: 5%;
    margin-left: 5%;
}

.brand-category{
    width: 20%;
    position: sticky;
    float: left;
    top: 15%;
    z-index: 999;
}
.category-item{
    list-style: none;
    margin-bottom: 10px;
}
.category-item a{
    color: black;
    text-decoration: none;
}
.category-item a:hover{
    color: red;
}
.sortAndShowProducts{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 20%;
}
.sorting{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
.sorting #sort{
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
}
.Products{
    width: 100%;
    min-height: 100vh;
}
#products-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.product-item {
    width: 24%;
    margin-bottom: 20px;
    transition: opacity 0.2s ease;
    color: black;
}

.product-item a {
    text-decoration: none;
}

.product-item .product-name, 
.product-item .description, 
.product-item .price {
    text-align: center;
    color: black;
}
.product-item img{
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    transition: opacity 0.2s ease;
}
.product-item:hover *{
    color: red;
}