#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 16.6667%;
    height: 100%;
    background-color: #f8f9fa;
    padding-top: 20px;
}
#content-tab {
    margin-left: 16.6667%;
    padding: 20px;
}





table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
thead{
    text-align: center;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}
#customer-table{
    th:nth-child(1), td:nth-child(1) { width: 5%; text-align: center;}
    th:nth-child(2), td:nth-child(2) { width: 15%; }
    th:nth-child(3), td:nth-child(3) { width: 25%; }
    th:nth-child(4), td:nth-child(4) { width: 10%; }
    th:nth-child(5), td:nth-child(5) { width: 25%; }
    th:nth-child(6), td:nth-child(6) { width: 20%; }
}
#product-table{
    th:nth-child(1), td:nth-child(1) { width: 3%; text-align: center;}
    th:nth-child(2), td:nth-child(2) { width: 15%; }
    th:nth-child(3), td:nth-child(3) { width: 10%; text-align: center;}
    th:nth-child(4), td:nth-child(4) { width: 15%; }
    th:nth-child(5), td:nth-child(5) { width: 7%; text-align: center;}
    th:nth-child(6), td:nth-child(6) { width: 13%; }
    th:nth-child(7), td:nth-child(7) { width: 7%; text-align: center;}
    th:nth-child(8), td:nth-child(8) { width: 15%; }
}
th {
    background-color: #f2f2f2;
}
.btn {
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}
.customerBtn-edit, .productBtn-edit{
    background-color: #4CAF50;
    color: white;
}
.customerBtn-delete, .productBtn-delete{
    background-color: #f44336;
    color: white;
}
.customerBtn-showOrders, .productBtn-details{
    background-color: yellow;
    color: rgb(0, 0, 0);
}

#customer-table button, #product-table button{
    border-radius: 5px;
    border: 1px solid;
}




.funtionsAndSearch{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.search-container{
    width: 30%;
    display: flex;
    justify-content: end;
}
.customer-funtions{
    width: 70%;
}
.product-funtions{
    width: 70%;
    display: flex;
    flex-direction: row;
}
.addProduct{
    width: max-content;
}
.addBrand, .addCategory{
    width: max-content;
}




.horizontal-table {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.horizontal-table .column {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    border-bottom: 1px solid black;
}
.horizontal-table .column div {
    border-right: 1px solid black;
    width: 80px;
    padding: 5px;
}
.horizontal-table .column .header {
    font-weight: bold;
    border-right: 2px solid black;
}  

.brandForms, .categoryForms{
    display: flex;
    flex-direction: row;
}

.brandForms #addBrand, 
.brandForms #deleteBrand, 
.categoryForms #addCategory, 
.categoryForms #deleteCategory{
    width: 50%;
}


/* Search button */

.search-box {
    display: flex;
	width: 40px;
	height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
	background-color: #f3f3f3;
	position: relative;
	overflow: hidden;
	transition: all 0.5s ease;
	border-radius: 15px;
}

.search-box.open {
	width: 350px;
}

#CustomerSearchInput, #searchInput {
	width: 100%;
    height: 40px;
	border: none;
	box-shadow: none;
	background: transparent;
	color: #000000;
    padding: 10px;
	font-size: 15px;
    margin-top: -2px;
    margin-left: -5px;
}

#CustomerSearchBtn, #searchButton {
	color: #000000;
	outline: none;
	border: none;
	width: 40px;
    height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	font-size: 15px;
}
#CustomerSearchBtn:hover, #searchButton:hover{
    color: red;
}

.search-box.open {
	width: 350px;
}

/*******/
.shopNow-btn {
    text-align:center;
    width: 180px;
    height: 45px;
    margin: 20px;
    border: none;
    background-color: rgb(210, 0, 0);
    transition: transform 0.3s ease;
}
.shopNow-btn{
    text-decoration: none;
    color: white;
}
.shopNow-btn:hover{
    transform: scale(1.02)
}

/*******/
.changeBtn {
    text-align:center;
    width: 180px;
    height: 45px;
    margin: 20px;
    border: none;
    background-color: rgb(210, 0, 0);
    transition: transform 0.3s ease;
    text-decoration: none;
    color: white;
}
.changeBtn:hover{
    transform: scale(1.02)
}